@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .table th, .table td {
        @apply px-4 py-2;
    }

    .table th{
        @apply text-gray-700;
    }

    .table tbody tr:nth-child(2n+1){
        @apply bg-gray-200;
    }

    h1 {
        @apply text-2xl font-bold;
    }
    h2 {
        @apply text-xl font-bold;
    }
    textarea {
        resize: none;
        @apply border border-gray-400 px-4 py-2;
    }
    input {
        @apply border border-gray-400 px-4 py-2;
    }
    .boton {
        @apply bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded;
    }
    .boton-like {
        @apply bg-green-500 hover:bg-green-700 text-white font-bold p-2 rounded;
    }
    .boton-unlike {
        @apply bg-red-500 hover:bg-red-700 text-white font-bold p-2 rounded;
    }
    td>img {
        width: 300px;
    }
    header>img {
        width: 150px;
    }

    .labelStyle {
        @apply block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4;
    }

    .inputStyle {
        @apply bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-800;
    }
}
